<!-- internal.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask App - Internal Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5">
        <h1>Hello, Internal Page!</h1>
        <p>This is an internal page for interacting with a FastAPI backend.</p>

        <!-- WTForms Form to get input from the user -->
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.person_name.label }}
                {{ form.person_name(class="form-control", placeholder="Enter person name") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>

        <!-- Display the result here -->
        <div id="resultContainer" class="mt-3">
            {% if result %}
                <p>{{ result }}</p>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
        

    </div>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
