{% extends 'base.html' %}

{% block title %} Piemonte - H-Farm Group Project {% endblock %}

{% block content %}
<div class="container-fluid mt-5 mb-5">
    <h1>Welcome to Piemonte</h1>
    <p>Here you can find information about Piemonte...</p>

    <!-- Displaying mountain shelters -->
    <div class="row">
        {% for item in cleaned_data %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['DENOMINAZIONE'] }}</h5>
                        <p>
                            <strong>Provincia:</strong> {{ item['PROVINCIA'] }}<br>
                            <strong>Comune:</strong> {{ item['COMUNE'] }}<br>
                            <strong>Indirizzo:</strong> {{ item['INDIRIZZO'] }}<br>
                            <strong>Telefono:</strong> {{ item['TELEFONO'] }}<br>
                            <strong>Camere:</strong> {{ item['CAMERE'] }}<br>
                            <strong>Letti:</strong> {{ item['LETTI'] }}<br>
                            <strong>Bagni:</strong> {{ item['BAGNI'] }}<br>
                        </p>

                        {% set shelter_info = fetch_shelter_info(item['DENOMINAZIONE']) %}
                        <strong>Trail Info:</strong> {{ shelter_info['data']['Description'] }}<br>
                        <strong>Coordinates:</strong> {{ shelter_info['data']['Latitude'] }}, {{ shelter_info['data']['Longitude'] }}<br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}