{% extends 'base.html' %}

{% block title %} Piemonte - H-Farm Group Project {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light main-nav">
    <a class="navbar-brand d-md-none" href="{{ url_for('index') }}">Mountain House</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
      <a class="navbar-brand mx-auto d-none d-md-block" href="{{ url_for('index') }}">Mountain House</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/project_description">Project Description</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container-fluid mt-5 mb-5">
    <form method="get" action="{{ url_for('piemonte') }}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-row">
                    <!-- Bold Text -->
                    <div class="col-12 mb-2">
                        <strong>🏛️ Filtra in base alla provincia o comune esatto:</strong>
                    </div>
                    <!-- Provincia and Comune Fields -->
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="provincia" placeholder="Provincia">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="comune" placeholder="Comune">
                    </div>
                    <!-- Separator -->
                    <div class="col-12 my-3">
                        <hr> <!-- Optional horizontal line as a separator -->
                    </div>
                    <!-- Camere, Letti, Bagni Fields -->
                    <!-- Bold Text -->
                    <div class="col-12 mb-2">
                        <strong>🛏️ Filtra in base alle caratteristiche del rifugio:</strong>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" name="camere" placeholder="Camere">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" name="letti" placeholder="Letti">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" class="form-control" name="bagni" placeholder="Bagni">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <strong>🧭 Scopri tutti i rifugi in un range di KM da una località in Piemonte:</strong>
                <div class="form-group">
                    <input type="text" class="form-control mt-3 mb-3" name="location" placeholder="🗺️ Enter a location">
                </div>
                <div class="form-group">
                    <select class="form-control mb-3" name="range_km">
                        <option value="5.0">5 KM</option>
                        <option value="10.0">10 KM</option>
                        <option value="20.0">20 KM</option>
                        <option value="50.0">50 KM</option>
                        <option value="80.0">80 KM</option>
                        <option value="100.0">100 KM</option>
                        <option value="120.0">120 KM</option>
                        <option value="150.0">150 KM</option>
                        <option value="200.0">200 KM</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </div>
            </div>
        </div>
    </form>
    <!-- Displaying mountain shelters -->
    <div class="row mt-5">
        {% for item in cleaned_data %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['DENOMINAZIONE'] }}</h5>
                        <p>
                            <strong>Provincia:</strong> {{ item['PROVINCIA'] }}<br>
                            <strong>Comune:</strong> {{ item['COMUNE'] }}<br>
                            <strong>Indirizzo:</strong> {{ item['INDIRIZZO'] }}<br>
                            <strong>Telefono:</strong> {{ item['TELEFONO'] }}<br>
                            <strong>Camere:</strong> {{ item['CAMERE'] }}<br>
                            <strong>Letti:</strong> {{ item['LETTI'] }}<br>
                            <strong>Bagni:</strong> {{ item['BAGNI'] }}<br>
                            <strong>Description:</strong> {{ item['Description'] }}<br>
                            <strong>Coordinates:</strong> {{ item['Latitude'] }}, {{ item['Longitude'] }}<br>
                            {% if 'Distance' in item %}
                                <strong>Distance from Location:</strong> {{ item['Distance'] }}<br>
                            {% endif %}
                        </p>
                    </div>         
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}